:root {
  --classic-blue-t2: #76ceff;
  --classic-blue-t1: #00a3f6;
  --classic-blue: #0068B5;
  --classic-blue-s1: #004a86;
  --classic-blue-s2: #00285A;
}

button,
.button {
  background-color: var(--classic-blue);
  border: none;
  color: white;
  padding-left: 16pt;
  padding-right: 16pt;
  padding-top: 8pt;
  padding-bottom: 8pt;
  font-size: 14pt;
}

button:hover,
.button:hover {
  background-color: var(--classic-blue-s1);
  cursor: pointer;
}

button:active,
.button:active {
  background-color: var(--classic-blue-s2);
}

button:focus,
.button:focus {
  box-shadow: 0 0 0 1pt #ffffff, 0 0 0 3pt var(--classic-blue);
}

button:disabled,
button[disabled],
.button:disabled,
.button[disabled] {
  background-color: #E9EAEB;
  color: #B3B4BA;
  cursor: not-allowed;
}

.button-size-big {
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 8pt;
  padding-bottom: 8pt;
  font-size: 16pt;
}

.button-size-small {
  padding-left: 12pt;
  padding-right: 12pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  font-size: 12pt;
}
